@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@font-face{
    font-family: 'Sketch';
    src:url('Sketch\ Gothic\ School.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #1f1f1f;
    --cor1: #FF8700;
    --cor2: #E3650B;
    --cor3: #FA4B00;
    --cor4: #E3330B;
    --cor5: #FB1C0D;
    
    --fonte0: 'Noto Sans JP'
}

*{
    margin: 0px;
    padding:0px;
    font-family: var(--fonte0);
}

body{
    background-color: var(--cor0);
}

p{
    text-align: justify;
    font-size: 1em;
}

header{
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    padding-top: 38px;
}

header h1{
    font-family: 'Sketch', Times, serif;
    font-weight: normal;
    font-size: 3.2em;
}

header p{
    font-family: var(--fonte0), sans-serif;
    font-size: 1.1em;
    text-align: center;
    font-weight: 280;
}

nav{
    background-color: var(--cor5);
    border-bottom: 2.5px solid black;
    padding-bottom: 12px;
}

nav a{
    padding: 6px;
    color: black;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--cor3);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}

main{
    min-width: 280px;
    max-width: 800px;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    margin: 12px auto 15px auto;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.527);
}

main img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

article{
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

article h3{
    margin: 5px 0px;
}

article p{
    margin: 10px 0px;
}

aside{
    border: solid 2px black;
    padding: 5px;
    margin: 10px 5px 5px 5px;
}


footer{
    background-image: linear-gradient(135deg, var(--cor5), var(--cor3), var(--cor1));
    border: 2px solid black;
    padding: 10px;
    min-height: 180px;
}

footer img{
    margin: 8px;
    border-radius: 100%;
    width: auto;
    max-width: 128px;
    float: left;
}

footer h2{
    font-family: 'Sketch', Times, serif;
    font-size: 2.2em;
    font-weight: normal;
}