@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@font-face{
    font-family: 'Sketch';
    src:url('Sketch\ Gothic\ School.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #1f1f1f;
    --cor1: #FF8700;
    --cor2: #E3650B;
    --cor3: #FA4B00;
    --cor4: #E3330B;
    --cor5: #FB1C0D;
    --fonte0: 'Noto Sans JP'
}

*{
    font-family: var(--fonte0);
}

body{
    background-color: var(--cor0);
}

header{
    text-align: center;
    background-image: linear-gradient(135deg, var(--cor5), var(--cor3), var(--cor1));
    border-bottom: 2.5px solid black;
}

header>h1{
    font-family: 'Sketch', Times, serif;
    font-weight: normal;
    font-size: 32px;
}

header>p{
    font-family: 'Sketch', Times, serif;
    font-weight: normal;
    font-size: 28px;
}

nav{
    background-image: linear-gradient(135deg, var(--cor5), var(--cor3), var(--cor1));
    border-bottom: 2.5px solid black;
}

main{
    background-color: rgb(231, 231, 231);
    padding: 8px;
    margin: 10px 30px 50px 30px;
    border: 2px solid black;
}

article{
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

aside{
    border: solid 2px black;
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

footer{
    border: 2px solid black;
    padding: 10px;
}


footer{
    background-image: linear-gradient(135deg, var(--cor5), var(--cor3), var(--cor1));
}

footer>h2{
    font-family: 'Sketch', Times, serif;
    font-weight: normal;
}